/* Container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f4f4;
}

/* Main box */
.login-box {
  display: flex;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  width: 1000px;
  max-width: 95%;
}

/* Left Side */
.login-left {
  flex: 1;
  padding: 40px;
}

.login-left h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  color: gray; margin-bottom: 20px;
}

.subtitle-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 14px;
}

.password-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-link {
  font-size: 12px;
  color: #333;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  background: black;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.divider {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  color: #555;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #ddd;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

/* Social buttons */
.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-btn {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  background: white;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.signup {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.signup a {
  text-decoration: underline;
  font-weight: 500;
}

/* Right Side */
.login-right {
  flex: 1;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder {
   width: 600px;
  height: 250px;
 
  display: flex;
  
  overflow: hidden; /* Good practice in case image exceeds the box */
}

.image-placeholder-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


